annotated-types
anyio
certifi
charset-normalizer
click
colorama
fastapi
filelock
fsspec
h11
huggingface-hub
idna
numpy
packaging
pydantic
pydantic_core
PyYAML
regex
requests
safetensors
sniffio
starlette
tokenizers==0.11.3
tqdm
transformers
typing_extensions
urllib3
uvicorn
torch
happytransformer
